TARGETS
make_config.mk

*.a
*.arc
*.d
*.dylib*
*.gcda
*.gcno
*.o
*.so
*.so.*
*_test
*_bench
*_stress
*.out
*.class
*.jar
*.*jnilib*
*.d-e
*.o-*
*.swp
*~
*.vcxproj
*.vcxproj.filters
*.sln
*.cmake
CMakeCache.txt
CMakeFiles/
build/

ldb
manifest_dump
sst_dump
util/build_version.cc
build_tools/VALGRIND_LOGS/
coverage/COVERAGE_REPORT
.gdbhistory
package/
.phutil_module_cache
unity.a
tags
rocksdb_dump
rocksdb_undump
db_test2

java/out
java/target
java/test-libs
java/*.log
java/include/org_rocksdb_*.h

.idea/
*.iml

rocksdb.cc
rocksdb.h
unity.cc
java/crossbuild/.vagrant
.vagrant/
java/**.asc
java/javadoc

scan_build_report/
t
LOG
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
pkgconfig/rocksdb.pc
stamp-h1
compile
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
scripts/rocksdb-config
third-party/gtest-1.7.0/fused-src/gtest/Makefile
port/Makefile
util/Makefile
table/Makefile
test/Makefile
db/Makefile
memtable/Makefile
tools/Makefile
utilities/Makefile
utilities/backupable/Makefile
utilities/checkpoint/Makefile
utilities/compaction_filters/Makefile
utilities/convenience/Makefile
utilities/document/Makefile
utilities/flashcache/Makefile
utilities/geodb/Makefile
utilities/leveldb_options/Makefile
utilities/memory/Makefile
utilities/merge_operators/Makefile
utilities/merge_operators/string_append/Makefile
utilities/options/Makefile
utilities/redis/Makefile
utilities/spatialdb/Makefile
utilities/table_properties_collectors/Makefile
utilities/transactions/Makefile
utilities/ttl/Makefile
java/rocksjni/Makefile
utilities/write_batch_with_index/Makefile
test/util/Makefile
examples/options_file_example
Makefile.in
tools/db_bench_tool
tools/ldb_tool
tools/sst_dump_tool
test-driver
*.bak
*.lo
*.la
*.loT
.deps
.libs
*.log
*.trs
*.log
