target/
/var
pom.xml.versionsBackup
test-output/
/atlassian-ide-plugin.x
.idea
.*.swp
.*.swo
leveldb-c
*~
*.swp
.idea
.idea/*
*.iml
*.ipr
*.iws
.DS_Store
.scala_dependencies
.project
.classpath
.settings
eclipse-classes
